body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}

.small-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 5p   x;
}

img {
    color: red;
    width: 100px;
    margin: 10px 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 5px 20px;
}

input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #222;
    outline: none;
    text-align: center;
}

.terms {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
}

.terms a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    width: 85%;
    background: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 85%;
}

.divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.divider span {
    padding: 0 10px;
    font-size: 14px;
    color: #777;
}

.guest-btn {
    width: 85%;
    background: white;
    color: black;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid black;
}
